/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 16, 2023, 10:31:00 AM
    Author     : azzam
*/

body{
    zoom: 80%;
}
.card {
    background-color: white;
}

th {
    background-color: #CCC;
}
td:hover{
    cursor: pointer;
}
#table_request {
    font-size: 12px;
}
.card-body{
    min-height: 705px;
}
#add_request{
    cursor: pointer;
    padding: 10px;
    color: #8915e1;
    font-weight: 400;
}
.tab-content{
    width: 100%
}
@media only screen and (max-width: 400px) {
    body{
        zoom: 80%;
    }
    .card {
        background-color: white;
    }

    th {
        background-color: #CCC;
    }
    td:hover{
        cursor: pointer;
    }

    .card-body{
        min-height: 620px;
    }
    #add_request{
        cursor: pointer;
        padding: 10px;
        color: #8915e1;
        font-weight: 400;
    }
    .tab-content{
        width: 100%
    }
    table{
        margin: 0 auto;
        width: 100%;
        clear: both;
        border-collapse: collapse;
        table-layout: fixed;
        word-wrap:break-word;
    }
    #table_request {
        font-size: 12px;
    }
}

.yellow{
    background-color: #ffda00 !important;
}

.green {
    background-color: #33dd54 !important;
}

.red {
    background-color: #ff3e3e !important;
}